<div id="customDatasets" class="container-fluid py-4 page-tab">
    <div class="row">
        <div class="col text-center">
            <button customDataset-action="reload" class="btn btn-success"><%- lang['Reload'] %></button>
            <button customDataset-action="link" class="btn btn-success"><%- lang['Mark for Training'] %></button>
        </div>
    </div>
    <form id="customDatasetsDownloadForm" class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <select name="type" class="form-select">
                        <option value="roboflow-yolov5">RoboFlow, YoloV5 PyTorch</option>
                    </select>
                </div>
                <div class="col">
                    <div class="input-group">
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><%- lang['Recent Downloads'] %></button>
                      <ul class="dropdown-menu" id="customDatasetsRecentDownloads"></ul>
                      <input name="url" type="text" class="form-control" placeholder="<%- lang.Example %> : https://universe.roboflow.com/ds/QLxoRPURd6?key=XXXXXXXX" aria-label="<%- lang['Download URL'] %>">
                      <button title="<%- lang.Download %>" class="btn btn-success" type="submit"><i class="fa fa-download"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row mt-4">
        <div class="col-3">
            <form id="customDatasetForm" class="row pb-3">
                <div class="col">
                    <select name="types" class="form-control"></select>
                </div>
            </form>
            <div class="row">
                <div class="col">
                    <input id="customDatasetSearchLoaded" class="form-control" placeholder="<%- lang.Search %>"></input>
                </div>
            </div>
            <div id="customDatasetList" class="mt-2 card p-3" style="max-height:50vh;overflow:auto;">

            </div>
            <div id="customDatasetLogOutput" class="mt-2 card p-3" style="max-height:40vh;overflow:auto;">

            </div>
        </div>
        <div class="col-9">
            <div id="customDatasetDisplay" class="row" style="height:80vh;overflow:auto;">

            </div>
        </div>
    </div>
</div>
<script src="assets/js/dashboard.customDatasets.js"></script>
