<div id="datasetViewer" class="container-fluid py-4 page-tab">
    <div class="row">
        <div class="col text-center">
            <button dataviewer-action="refreshLists" class="btn btn-success"><%- lang['Refresh Lists'] %></button>
            <button dataviewer-action="clearDatasets" class="btn btn-warning"><%- lang['Clear Datasets'] %></button>
            <button dataviewer-action="fixAnnotations" class="btn btn-warning"><%- lang['Fix Datasets'] %></button>
        </div>
    </div>
    <div class="row">
        <div class="col-3" style="max-height:600px;overflow:auto;">
            <div id="datasetList">

            </div>
        </div>
        <div class="col-9">
            <div id="datasetDisplay" class="row border rounded p-2" style="max-height: 800px; overflow-y: auto;">

            </div>
        </div>
    </div>
</div>
<!-- <link rel="stylesheet" href="assets/css/dashboard.datasetViewer.css"> -->
<script src="assets/js/dashboard.datasetViewer.js"></script>
<link rel="stylesheet" href="assets/css/dashboard.datasetViewer.css">
