<div id="downloadImages" class="container-fluid py-4 page-tab">
    <div class="row">
        <div class="col text-center">
            <button dlimage-action="start" class="btn btn-success"><%- lang['Start Download'] %></button>
            <a dlimage-action="stop" class="btn btn-danger"><%- lang['Stop Download'] %></a>
            <a dlimage-action="link" class="btn btn-success"><%- lang['Mark for Training'] %></a>
            <a dlimage-action="clear" class="btn btn-info"><%- lang['Stop Download'] %></a>
        </div>
    </div>
    <div class="mt-4">
        <%- include('progressBar', {id: 'dlImageProgress', style: 'width:100%'}) %>
    </div>
    <form id="dlImageForm" class="row pt-3">
        <div class="col">
            <small><%- lang['Classes'] %></small>
            <input name="className" placeholder="Person" class="form-control">
        </div>
        <div class="col">
            <small><%- lang['Relationships'] %></small>
            <input name="relationships" placeholder="Example : holds,at" class="form-control">
        </div>
        <div class="col">
            <small><%- lang['Max Images'] %></small>
            <input name="maxImages" placeholder="100" class="form-control">
        </div>
    </form>
    <div class="row mt-4">
        <div class="col-lg-4 col-sm-12">
            <div id="dlImageTemp" class="border rounded p-2" style="max-height: 500px; overflow-y: auto;">
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <div id="dlImageResults" class="border rounded p-2" style="max-height: 500px; overflow-y: auto;">
            </div>
        </div>
    </div>
</div>
