<div class="progress" id="<%- id %>" style="<%- style %>">
    <div class="progress-bar-text"></div>
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
