<div id="savedPackages" class="container-fluid py-4 page-tab">
    <div class="row">
        <div class="col text-center">
            <button exp-action="refreshLists" class="btn btn-success"><%- lang['Refresh Lists'] %></button>
        </div>
    </div>
    <div class="row">
        <div id="savedPackagesList" class="col-3" style="max-height:600px;overflow:auto;">

        </div>
        <div class="col-9">
            <div id="displayInfo" class="row">

            </div>
        </div>
    </div>
</div>
