<div id="softwareUsed" class="container-fluid py-4 page-tab">
    <h3>Software and Libraries Used</h3>
    <ul>
        <li>Node.js 18</li>
        <li>Express.js</li>
        <li>Socket.IO</li>
        <li>Python 3.11</li>
        <li>YOLOv5</li>
        <li>Google Open Images v7</li>
        <!-- Add more software and libraries as needed -->
    </ul>
</div>
