<div id="systemStatus" class="container-fluid py-4 page-tab">
    <div class="row my-3">
        <div class="col text-center">
            <button systemStatus-action="getInfo" class="btn btn-primary"><%- lang['Get System Info'] %></button>
            <button systemStatus-action="startAutoReload" class="btn btn-success">Auto Check Status</button>
            <button systemStatus-action="stopAutoReload" class="btn btn-danger">Stop Check Status</button>
        </div>
    </div>
    <div id="systemStatusDisplay" class="row mb-3">

    </div>
    <div id="systemStatusGpu" class="row mb-3">

    </div>
</div>
<!-- <link rel="stylesheet" href="assets/css/dashboard.datasetViewer.css"> -->
<script src="assets/js/dashboard.systemStatus.js"></script>
