<div id="testSets" class="container-fluid py-4 page-tab">
    <div class="row">
        <div class="col text-center">
            <button testSet-action="reload" class="btn btn-success"><%- lang['Reload'] %></button>
            <button testSet-action="view" testSet-name="current" class="btn btn-info"><%- lang['Current Data'] %></button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <div id="testSetList" class="mt-2 card p-3" style="max-height:50vh;overflow:auto;">

            </div>
        </div>
        <div class="col-9">
            <div id="testSetDisplay" class="row" style="height:80vh;overflow:auto;">

            </div>
        </div>
    </div>
</div>
<script src="assets/js/dashboard.testSwitcher.js"></script>
