<div id="trainExperiments" class="container-fluid py-4 page-tab">
    <div class="row">
        <div class="col text-center">
            <button exp-action="refreshLists" class="btn btn-success"><%- lang['Refresh Lists'] %></button>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div id="previousResults" style="max-height:600px;overflow:auto;">

            </div>
            <pre id="selectedResults" class="d-block" style="max-height:600px;overflow:auto;">

            </pre>
        </div>
        <div class="col-9">
            <div id="displayResult" class="row">

            </div>
        </div>
    </div>
</div>
