<div id="trainingControl" class="container-fluid py-4 page-tab">
    <div class="row">
        <div class="col text-center">
            <button train-action="start" class="btn btn-success"><%- lang['Start Training'] %></button>
            <button train-action="stop" class="btn btn-danger"><%- lang['Stop Training'] %></button>
            <button train-action="testLatest" class="btn btn-primary"><%- lang['Test Latest Weights'] %></button>
            <button train-action="trailToggle" class="btn btn-info"><%- lang['Trail Log'] %></button>
            <button train-action="getSummary" class="btn btn-success"><%- lang['Get Summary'] %></button>
            <button train-action="clear" class="btn btn-info"><%- lang['Clear'] %></button>
        </div>
    </div>
    <form id="trainForm" class="row pt-3">
        <div class="col">
            <small><%- lang['Batch Size'] %></small>
            <input name="batchSize" placeholder="<%- lang['Batch Size'] %> : 4" value="4" class="form-control">
        </div>
        <div class="col">
            <small><%- lang['Epochs'] %></small>
            <input name="epochs" placeholder="<%- lang['Epochs'] %> : 1" value="1" class="form-control">
        </div>
        <div class="col">
            <small><%- lang['Base Weights'] %></small>
            <select name="weights" class="form-control">
                <option value="weights/yolov5n.pt">n(ano)</option>
                <option selected value="weights/yolov5s.pt">s(mall)</option>
                <option value="weights/yolov5m.pt">m(edium)</option>
                <option value="weights/yolov5l.pt">l(arge)</option>
                <option value="weights/yolov5x.pt">x(tra large)</option>
                <option value="weights/yolov5n6.pt">n6</option>
                <option value="weights/yolov5s6.pt">s6</option>
                <option value="weights/yolov5m6.pt">m6</option>
                <option value="weights/yolov5l6.pt">l6</option>
                <option value="weights/yolov5x6.pt">x6</option>
            </select>
        </div>
        <div class="col">
            <small><%- lang['Device'] %></small>
            <select name="device" class="form-control">
                <option value="0">(0) NVIDIA GPU</option>
            </select>
        </div>
        <div class="col">
            <small><%- lang['Shutdown on Completion'] %></small>
            <select id="trainControl-shutdown" class="form-control">
                <option value="0" selected><%- lang.No %></option>
                <option value="1"><%- lang.Yes %></option>
            </select>
        </div>
    </form>
    <div class="mt-4">
        <div id="trainMetrics1" class="row metric-bar" title="Object Loss"></div>
        <div id="trainMetrics2" class="row metric-bar" title="Box Loss"></div>
        <div id="trainMetrics3" class="row metric-bar" title="Class Loss"></div>
    </div>
    <div class="mt-4">
        <%- include('progressBar', {id: 'trainResultsProgress', style: 'width:100%'}) %>
    </div>
    <div class="mt-4">
        <%- include('progressBar', {id: 'trainResultsPartProgress', style: 'width:100%'}) %>
    </div>
    <div class="row mt-4">
        <div class="col-lg-4 col-sm-12">
            <div id="trainResultsTemp" class="border rounded p-2" style="max-height: 500px; overflow-y: auto;"></div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <div id="trainResults" class="border rounded p-2" style="max-height: 1000px; overflow-y: auto;"></div>
        </div>
    </div>
</div>
