<div id="videoAnnotator" class="container-fluid py-4 page-tab">
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-success generateMatrices">Generate Annotations</button>
            <button class="btn btn-danger stopGenerateMatrices">Stop Generate Annotations</button>
            <button class="btn btn-primary saveMatrices">Upload Annotations</button>
            <button class="btn btn-danger stopSavingMatrices">Stop Uploading</button>
        </div>
    </div>
    <div class="row my-3">
      <div id="videoAnnotatorUploadTabs" role="tabpanel" aria-labelledby="videoAnnotatorUploadTabs-tab">
         <div class="nav-wrapper mb-3">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
               <li class="nav-item">
                  <a class="nav-link active" id="tabs-icons-text-1-tab" data-bs-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="false"><%- lang['Upload an MP4 Video'] %></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" id="tabs-icons-text-2-tab" data-bs-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="true"><%- lang['Remote Link'] %></a>
               </li>
               <!-- <li class="nav-item">
                  <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-bs-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><%- lang['Shinobi Videos'] %></a>
               </li> -->
            </ul>
         </div>
         <div class="tab-content">
            <div class="tab-pane fade active show" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
               <div class="upload-btn-wrapper">
                  <button class="btn btn-success btn-block" style="width: 100%;"><%- lang['Upload an MP4 Video'] %></button>
                  <input type="file" id="videoAnnotatorDropUploadArea">
               </div>
            </div>
            <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
               <div class="form-group mb-0">
                  <input class="form-control" id="videoAnnotatorRemoteUrlInput" placeholder="<%- lang['Remote Link'] %>">
               </div>
            </div>
            <div class="tab-pane fade p-2" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
               <div class="form-group">
                  <input class="form-control" id="videoAnnotatorShinobiUrlInput" placeholder="<%- lang['Videos API Link'] %>">
               </div>
               <div class="card">
                  <div class="table-responsive" style="max-height:400px">
                     <table class="table align-items-center table-flush mb-0" id="videoAnnotatorShinobiVideos">
                        <tbody></tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <%
                [
                    {
                        label: 'Play',
                        action: 'playPause',
                        icon: 'play',
                    },
                    {
                        label: 'Rewind',
                        action: 'resetVideoTime',
                        icon: 'refresh',
                    },
                    {
                        label: 'Add Matrix',
                        action: 'addMatrix',
                        icon: 'plus',
                    },
                    {
                        label: 'Deselect Matrix',
                        action: 'deselectMatrix',
                        icon: 'square',
                    },
                ].forEach((item, n) => { %>
                    <a class="<%- item.action %> btn btn-sm btn-<%- item.color || 'primary' %>" title="<%- lang[item.label] %>">
                       <i class="fa fa-<%- item.icon %>"></i> &nbsp; <%- lang[item.label] %>
                    </a>
                <% })
             %>
        </div>
    </div>
    <div class="matrix-editor-container mb-3">
        <div class="matrix-editor">
            <span class="preload-text text-white"><i class="fa fa-pointer"></i> <%- lang['Load a Video'] %></span>
        </div>
    </div>
    <div class="row mb-3 d-flex flex-row">
        <div class="col-2 text-center">
            <%
                [
                    {
                        label: 'Play',
                        action: 'playPause',
                        icon: 'play',
                    },
                    {
                        label: 'Rewind',
                        action: 'resetVideoTime',
                        icon: 'refresh',
                    },
                    {
                        label: 'Add Matrix',
                        action: 'addMatrix',
                        icon: 'plus',
                    },
                ].forEach((item, n) => { %>
                    <a class="<%- item.action %> btn btn-sm btn-<%- item.color || 'primary' %>" title="<%- lang[item.label] %>">
                       <i class="fa fa-<%- item.icon %>"></i>
                    </a>
                <% })
             %>
         </div>
         <div class="col-10">
            <div class="seekbar"><span></span></div>
         </div>
    </div>
</div>
<link rel="stylesheet" href="assets/css/dashboard.videoAnnotator.css">
<script src="assets/js/dashboard.videoAnnotator.js"></script>
