.icon-img img {
    max-width: 100%;
}
.icon-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 1;
}
.cursor-pointer, .side-menu-link {
    cursor: pointer;
}
