.metric-bar {
    border-bottom: 1px solid #333;
}
.metric-bar .train-metric-bar-holder {
    overflow: hidden;
    height: 30px;
    position: relative;
}
.train-metric-bar {
    width: 100%;
    position: absolute;
    border-top: 5px inset;
}

.contain-image img {
    max-width: 100%;
}
.contain-image video {
    width: 100%;
}
/* .nav-item .nav-link span {
    display: none;
}
.nav-item:hover .nav-link span {
    display: inline-block;
} */

.preload-text {
    text-align: center;
    font-size: 15pt;
}

.progress {
    position: relative;
}
.progress-bar-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
