#floating-back-button {
    position: fixed;
    width: 35px;
    height: 35px;
    top: 10px;
    left: 10px;
    background-color: #fff;
    color: #333;
    border-radius: 50px;
    text-align: center;
    z-index: 1030;
    cursor: pointer;
}
