.dataset-block {
    border: 1px solid #333;
}
.dataset-block img {
    max-width: 100%;
    max-height: 100%;
}
.dataset-block .img {
    position: relative;
}
.dataset-block .img .matrix {
    border: 3px solid red;
    border-radius: 2px;
    position: absolute;
    transition: 0.2s;
    cursor: default;
    overflow: hidden;
}
.dataset-block .img .matrix:hover {
    opacity: 0.2;
}
.dataset-block .img .matrix .tag {
    font-size: 80%;
    background: red;
    color: white;
    font-family: monospace;
    border-radius: 0 0 5px 0;
    position: absolute;
    padding: 1px 5px;
    text-transform: uppercase;
}
