#videoAnnotator .annotation-video {
    max-width: 100%!important;
}
#videoAnnotator .matrix-editor{
    display: inline-block;
    position:relative;
}
#videoAnnotator .matrix-editor .annotation-video{
    max-width: 100%!important;
}
#videoAnnotator .matrices{
    position: absolute;
    z-index: 11;
    width:100%;
    height:100%;
}
#videoAnnotator .matrix-hidden{
  opacity: 0;
}
#videoAnnotator [matrix-id]:hover{
  opacity: 1;
}
#videoAnnotator .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  cursor: pointer;
}

#videoAnnotator .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.matrix-editor .matrix {
  background: rgba(0,0,0,0.4);
  position: absolute;
  transition: 0s;
  z-index: 9;
  border: 1px solid #f44242;
}

.matrix-editor .matrix .handle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(244, 66, 66, 0.5);
    cursor: grab;
    padding: 0 5px;
}

.matrix-editor .matrix:hover.selected .handle{
    background: rgba(66, 134, 244, 0.8);
}

/* editable matrix */
.matrix-editor .matrix:hover .handle{
    height: 25px;
    background: rgba(195, 0, 0, 0.8);
}
.matrix-editor .matrix .handle .delete{
    color: red;
}
.matrix-editor .matrix input{
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    text-align: center;
}

.matrix-editor .matrix.selected {
    z-index: 11;
}
.matrix-editor .matrix.closest {
    z-index: 10;
}

.matrix-editor-container {
    border: 1px solid #333;
    border-radius: 5px;
}

/* seekbar */
#videoAnnotator .seekbar {
    cursor: pointer;
    height: 10px;
    border: thin solid #a7a7a7;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin-top: 11px;
}
#videoAnnotator .seekbar span {
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 0px;
    border-right: 2.5px inset #a7a7a7;
}
