<%- include('framework/header.ejs') %>
<%- include('framework/sidebar.ejs') %>
<%- include('framework/index-home.ejs') %>
<%- include('framework/themeConfigure.ejs') %>
<%- include('framework/footer.ejs') %>
