    <script src="assets/vendor/argon/argon-dashboard.js?v=2.0.5"></script>
    <script src="assets/js/dashboard.startup.js"></script>
    <%- include('./confirm.ejs', { lang, config }) %>
</body>

</html>
