<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <title>Flame🔥</title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="assets/vendor/nucleo/css/nucleo-icons.css" rel="stylesheet" />
  <link href="assets/vendor/nucleo/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="assets/css/dashboard.main.css">
  <link rel="stylesheet" href="assets/vendor/jquery-ui.min.css">
  <link rel="stylesheet" href="assets/vendor/dropzone.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- CSS Files -->
  <link id="pagestyle" href="assets/vendor/argon/argon-dashboard.css?v=2.0.5" rel="stylesheet" />
  <script src="assets/vendor/socket.io.min.js"></script>
  <script src="assets/vendor/jquery.min.js"></script>
  <script src="assets/vendor/jquery-ui.min.js"></script>
  <script src="assets/vendor/jquery.serialize.js"></script>
  <script src="assets/vendor/popper.min.js"></script>
  <script src="assets/vendor/bootstrap.min.js"></script>
  <script src="assets/vendor/perfect-scrollbar.min.js"></script>
  <script src="assets/vendor/smooth-scrollbar.min.js"></script>
  <%- include('./loadVarsToClient.ejs', { lang, config }) %>
</head>
