<main class="main-content position-relative border-radius-lg ps">
    <script src="assets/js/dashboard.extenders.js"></script>
    <script src="assets/js/dashboard.tabHandle.js"></script>
    <div class="px-3">
        <div class="card mt-7">
            <div class="card-body">
               <%- include('../blocks/trainingControl.ejs', { lang, config }) %>
               <%- include('../blocks/datasetViewer.ejs', { lang, config }) %>
               <%- include('../blocks/imageDownloader.ejs', { lang, config }) %>
               <%- include('../blocks/trainExperiments.ejs', { lang, config }) %>
               <%- include('../blocks/testExperiments.ejs', { lang, config }) %>
               <%- include('../blocks/videoAnnotator.ejs', { lang, config }) %>
               <%- include('../blocks/systemStatus.ejs', { lang, config }) %>
               <%- include('../blocks/softwareUsed.ejs', { lang, config }) %>
               <%- include('../blocks/savedPackages.ejs', { lang, config }) %>
               <%- include('../blocks/customDatasets.ejs', { lang, config }) %>
               <%- include('../blocks/testSwitcher.ejs', { lang, config }) %>
            </div>
        </div>
    </div>


  <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
      <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
  </div>
  <div class="ps__rail-y" style="top: 0px; right: 0px;">
      <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
  </div>
</main>
<link href="assets/css/dashboard.home.css" rel="stylesheet" />
<link href="assets/css/dashboard.tabHandle.css" rel="stylesheet" />
<script src="assets/vendor/dropzone.js"></script>
<script src="assets/vendor/lazyload.min.js"></script>
<script src="assets/js/dashboard.utils.js"></script>
<script src="assets/js/dashboard.trainControl.js"></script>
<script src="assets/js/dashboard.train.utils.js"></script>
<script src="assets/js/dashboard.dlImage.js"></script>
<script src="assets/js/dashboard.main.js"></script>
<script src="assets/js/dashboard.experiments.js"></script>
<script src="assets/js/dashboard.savedPackages.js"></script>
