<a id="floating-back-button" class="go-back" style=""><i class="fa fa-arrow-left"></i></a>
<nav class="navbar navbar-main navbar-expand-lg  px-0 mx-4 shadow-none border-radius-xl z-index-sticky " id="navbarBlur" data-scroll="false">
   <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
         <ol id="navbar-breadcrumbs" class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm">
               <a class="text-white" href="javascript:;">
               <i class="ni ni-box-2"></i>
               </a>
            </li>
            <li class="breadcrumb-item text-sm text-white"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">API Keys</li>
         </ol>
         <h6 id="navbar-title" class="font-weight-bolder mb-0 text-white">API Keys</h6>
      </nav>
      <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none ">
         <a href="javascript:;" class="nav-link p-0">
            <div class="sidenav-toggler-inner">
               <i class="sidenav-toggler-line bg-white"></i>
               <i class="sidenav-toggler-line bg-white"></i>
               <i class="sidenav-toggler-line bg-white"></i>
            </div>
         </a>
      </div>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
         <!-- <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
               <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
               <input type="text" class="form-control" placeholder="Type here..." onfocus="focused(this)" onfocusout="defocused(this)">
            </div>
         </div> -->
         <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
               <a href="../../pages/authentication/signin/illustration.html" class="nav-link text-white font-weight-bold px-0" target="_blank">
               <i class="fa fa-user me-sm-1" aria-hidden="true"></i>
               <span class="d-sm-inline d-none"><%- 'Flame' %></span>
               </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
               <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                  <div class="sidenav-toggler-inner">
                     <i class="sidenav-toggler-line bg-white"></i>
                     <i class="sidenav-toggler-line bg-white"></i>
                     <i class="sidenav-toggler-line bg-white"></i>
                  </div>
               </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
               <a href="javascript:;" class="nav-link text-white p-0">
               <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer" aria-hidden="true"></i>
               </a>
            </li>
         </ul>
      </div>
   </div>
</nav>
