<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main" data-color="dark">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0 d-flex" href=" https://demos.creative-tim.com/argon-dashboard-pro/pages/dashboards/default.html " target="_blank">
      <div class="col">
          <img src="https://licenses.shinobi.video/libs/img/brand/logo.png" class="navbar-brand-img h-100" alt="main_logo">
      </div>
      <div class="d-flex text-left" style="flex-grow:1">
          <span class="ms-1 font-weight-bold">Flame<br><small>by Shinobi Systems</small></span>
      </div>
    </a>
  </div>
  <hr class="horizontal dark mt-0">
  <div class="collapse navbar-collapse  w-auto h-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a data-bs-toggle="collapse" href="#sidebar-pages" class="nav-link active" aria-controls="dashboardsExamples" role="button" aria-expanded="false">
          <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
            <i class="ni ni-shop text-primary text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Dashboard</span>
        </a>
        <div class="collapse  show " id="sidebar-pages">
          <ul class="nav ms-4">
              <%- ([
                  {
                      label: 'Training Control',
                      tabName: 'trainingControl',
                      icon: 'train',
                  },
                  {
                      label: 'Tests',
                      tabName: 'testExperiments',
                      icon: 'vial',
                  },
                  {
                      label: 'Test Sets',
                      tabName: 'testSets',
                      icon: 'file-video-o',
                  },
                  {
                      label: 'Dataset Viewer',
                      tabName: 'datasetViewer',
                      icon: 'database',
                  },
                  {
                      label: 'Download Images',
                      tabName: 'downloadImages',
                      icon: 'download',
                  },
                  {
                      label: 'Custom Datasets',
                      tabName: 'customDatasets',
                      icon: 'paper-o',
                  },
                  {
                      label: 'Training Sessions',
                      tabName: 'trainExperiments',
                      icon: 'chalkboard-teacher',
                  },
                  {
                      label: 'Saved Packages',
                      tabName: 'savedPackages',
                      icon: 'file-zip',
                  },
                  {
                      label: 'Video Annotator',
                      tabName: 'videoAnnotator',
                      icon: 'video',
                  },
                  {
                      label: 'System Status',
                      tabName: 'systemStatus',
                      icon: 'server',
                  },
                  {
                      label: 'Software Used',
                      tabName: 'softwareUsed',
                      icon: 'laptop-code',
                  },
              ]).map(item => {
                  return `<li class="nav-item">
                    <a class="nav-link active side-menu-link" page-open="${item.tabName}">
                      <span class="sidenav-mini-icon"> <i class="fa fa-${item.icon}"></i> </span>
                      <span class="sidenav-normal"> ${item.label}</span>
                    </a>
                  </li>`
              }).join('\n'); %>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <hr class="horizontal dark" />
      </li>
    </ul>
  </div>
  <div class="sidenav-footer mx-3 my-3">
    <div class="card card-plain shadow-none" id="sidenavCard">
      <div class="text-center mb-2"><i class="fa fa-info-circle fa-3x"></i></div>
      <div class="card-body text-center p-3 w-100 pt-0">
        <div class="docs-info">
          <h6 class="mb-0">Need help?</h6>
          <p class="text-xs font-weight-bold mb-0">Read the docs or Contact us!</p>
        </div>
      </div>
    </div>
    <a href="https://docs.shinobi.video" target="_blank" class="btn btn-dark btn-sm w-100 mb-3">Documentation</a>
  </div>
</aside>
